body {
  font-family: calibri, verdana;
}
.container {
    width: 600px;
    border: 25px;
    padding: 25px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.FirstWord{
	color: red;
	text-align: center;
}
.SecondWord{
	color: blue;
	text-align: center;
}
input[type=password], input[type=text], input[type=file], select, textarea {
    margin-top: 0px !important;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button {
    width: 25%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover, button {
    background-color: blue;
}

.clearfix {
  overflow: auto;
}

label{
  font-size:0.9em;
  display:block;
  padding-top: 0.7em;
  padding-bottom: 0.1em;
}

.error {
	color : red;
	display : block;
}

.table-header-option {
  border-collapse: collapse;
  width:600px;
  color: black;
  font-size: 0.7em;
  font-weight: bold;
}
.table-header-option td {
  width: 120px;
  border: 1px solid black;
  padding : 10px 0px;
  text-align :center;
}

a.red:visited,
a.red:link,
a.red:active,
a.red:hover {
  color: red;
}

a.blue:visited,
a.blue:link,
a.blue:active,
a.blue:hover {
  color: blue;
}

a.orange:visited,
a.orange:link,
a.orange:active,
a.orange:hover {
  color: orange;
}

a.green:visited,
a.green:link,
a.green:active,
a.green:hover {
  color: green;
}

a:visited,
a:link,
a:active {
  text-decoration :none;
  color: black;
}
a:hover{
  text-decoration: underline;
}

.header-highlight {
  background: blue;
  color :white;
}

.header-highlight a:visited,
.header-highlight a:link,
.header-highlight a:active,
.header-highlight a:hover
{
  color :white !important;
}

.header-user {
  text-align: right;
}

.small-description {
  font-size : 0.8em;
}
.catalog-product-left, .shop-product-left {
  width : 120px;
}

.catalog-product-mid, .shop-product-mid {
  width : 420px;
  vertical-align: top;
}

.catalog-product-right, .shop-product-right, .transaction-right {
  width : 160px;
}

.transaction-left {
  width : 120px;
}
.transaction-mid {
  width : 340px;
  vertical-align: top;
}

.transaction-right {
  width : 240px;
  vertical-align: top;
}
