body {
  font-family: calibri, verdana;
}
.container {
    width: 600px;
    border: 25px;
    padding: 25px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.FirstWord{
	color: red;
	text-align: center;
}
.SecondWord{
	color: blue;
	text-align: center;
}
input[type=password], input[type=text], input[type=file], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.error {
	color : red;
	display : block;
}

.table-header-option {
  border-collapse: collapse;
  width:600px;
  color: black;
  font-size: 0.7em;
  font-weight: bold;
}
.table-header-option td {
  width: 120px;
  border: 1px solid black;
  padding : 10px 0px;
  text-align :center;
}
.table-header-option td a:visited,
.table-header-option td a:link,
.table-header-option td a:active,
.table-header-option td a:hover{
  text-decoration :none;
  color:black;
}
.header-highlight {
  background: blue;
  color :white;
}

.header-highlight a:visited,
.header-highlight a:link,
.header-highlight a:active,
.header-highlight a:hover
{
  color :white !important;
}
