<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>MarketPlace</title>
	<link rel="stylesheet" type="text/css" href="./public/stylesheets/style.css">
</head>
<body>

<div class="container">
  <form action="login.php" method="POST">
  <h1 class="FirstWord">Sale<span class="SecondWord">Project</span></h1>
	<h2>Please Login</h2>
	<hr>
    <label for="uname">Email or Username</label>
    <input type="text" id="uname" name="username">

    <label for="pwd">Password</label>
    <input type="password" id="pwd" name="password">

    <input type="submit" value="LOGIN">
    <br>
    <br>
    <br>
    <br>
    <b><p>Don't have an account yet? Register <a class="blue" href="register.php">here</a></p></b>
  </form>
</div>

</body>
</html>
